<form class="regestration-page">
  <div class="registration-block" id="registaation-block">
    <mat-form-field>
      <input matInput placeholder="First Name">
    </mat-form-field><br>
    <mat-form-field>
    <input matInput placeholder="Last Name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="Phone Number">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput placeholder="User Name">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Password">
    </mat-form-field><br>
    <mat-form-field>
      <input matInput type="password" placeholder="Re-Type Password">
    </mat-form-field><br>
    <button mat-button class="register-button">Register</button>
  </div>
</form>
