<form  id="adminLogin" class="adminLogin" >
  <div id="loginBlock" class="loginBlock">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="UserName">
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type= "password">
    </mat-form-field><br>
    <mat-checkbox>Remember me</mat-checkbox><br>
    <button type="submit" class="mat-button login-button" mat-button (click) = login() > Login </button>
  </div>
</form>
